**[Pandas Home Page](https://www.kaggle.com/learn/pandas)**

---

# Introduction

The first step in most data analytics projects is reading the data file. In this exercise, you'll create Series and DataFrame objects, both by hand and by reading data files.

Run the code cell below to load libraries you will need (including code to check your answers).

In [27]:
import pandas as pd

# Exercises

## 1.

In the cell below, create a DataFrame `class_sizes` that looks like this:

![](images/class_sizes.png)

In [28]:
# Your code goes here. Create a dataframe matching the above diagram
class_sizes = pd.DataFrame({'Software Dev': [26], 'Internet Systems Dev': [32]})

# Check your answer
class_sizes

   Software Dev  Internet Systems Dev
0            26                    32

## 2.

Create a dataframe `yearly_class_sizes` that matches the diagram below:

![](images/yearly_class_sizes.png)

In [29]:
# Your code goes here. Create a dataframe matching the above diagram
yearly_class_sizes = pd.DataFrame( {'Software Dev': [26, 34], 'Internet Systems Dev': [32, 22]}, index=['2020', '2021'] )

# Check your answer
yearly_class_sizes

      Software Dev  Internet Systems Dev
2020            26                    32
2021            34                    22

## 3.

Create a variable `word_count` with a Series that looks like:

```
the     145
you     122
to       89
word     86
Name: word_count, dtype: int64
```

In [30]:
word_count = pd.Series( [145, 122, 89, 86], index=['the', 'you', 'to', 'word'], name='word_count' )

# Check your answer
word_count

the     145
you     122
to       89
word     86
Name: word_count, dtype: int64

## 4.

Read the following csv dataset of Bangalore restaurant reviews from zomato into a DataFrame called `reviews`:

![](images/bangalore_restaurants_zomato.png)

The filepath to the csv file is `data/zomato.csv`. The first few lines look like:

```
url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
https://www.zomato.com/bangalore/jalsa-banashankari?context=eyJzZSI6eyJlIjpbNTg2OTQsIjE4Mzc1NDc0IiwiNTkwOTAiLCIxODM4Mjk0NCIsIjE4MjI0Njc2IiwiNTkyODkiLCIxODM3MzM4NiJdLCJ0IjoiUmVzdGF1cmFudHMgaW4gQmFuYXNoYW5rYXJpIHNlcnZpbmcgQnVmZmV0In19,"942, 21st Main Road, 2nd Stage, Banashankari, Bangalore",Jalsa,Yes,Yes,4.1/5,775,"080 42297555
+91 9743772233",Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, 
```

In [31]:
reviews = pd.read_csv("data/zomato.csv")
print(reviews)

                                                     url  \
0      https://www.zomato.com/bangalore/jalsa-banasha...
1      https://www.zomato.com/bangalore/spice-elephan...
2      https://www.zomato.com/SanchurroBangalore?cont...
3      https://www.zomato.com/bangalore/addhuri-udupi...
4      https://www.zomato.com/bangalore/grand-village...
...                                                  ...
51712  https://www.zomato.com/bangalore/best-brews-fo...
51713  https://www.zomato.com/bangalore/vinod-bar-and...
51714  https://www.zomato.com/bangalore/plunge-sherat...
51715  https://www.zomato.com/bangalore/chime-sherato...
51716  https://www.zomato.com/bangalore/the-nest-the-...

                                                 address  \
0      942, 21st Main Road, 2nd Stage, Banashankari, ...
1      2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...
2      1112, Next to KIMS Medical College, 17th Cross...
3      1st Floor, Annakuteera, 3rd Stage, Banashankar...
4      10, 3rd Floor, Lakshmi Associates, Gandhi Baza...
...                                                  ...
51712  Four Points by Sheraton Bengaluru, 43/3, White...
51713  Number 10, Garudachar Palya, Mahadevapura, Whi...
51714  Sheraton Grand Bengaluru Whitefield Hotel & Co...
51715  Sheraton Grand Bengaluru Whitefield Hotel & Co...
51716  ITPL Main Road, KIADB Export Promotion Industr...

                                                    name online_order  \
0                                                  Jalsa          Yes
1                                         Spice Elephant          Yes
2                                        San Churro Cafe          Yes
3                                  Addhuri Udupi Bhojana           No
4                                          Grand Village           No
...                                                  ...          ...
51712  Best Brews - Four Points by Sheraton Bengaluru...           No
51713                           Vinod Bar And Restaurant           No
51714  Plunge - Sheraton Grand Bengaluru Whitefield H...           No
51715  Chime - Sheraton Grand Bengaluru Whitefield Ho...           No
51716                       The Nest - The Den Bengaluru           No

      book_table    rate  votes                             phone  \
0            Yes   4.1/5    775    080 42297555\r\n+91 9743772233
1             No   4.1/5    787                      080 41714161
2             No   3.8/5    918                    +91 9663487993
3             No   3.7/5     88                    +91 9620009302
4             No   3.8/5    166  +91 8026612447\r\n+91 9901210005
...          ...     ...    ...                               ...
51712         No  3.6 /5     27                      080 40301477
51713         No     NaN      0                    +91 8197675843
51714         No     NaN      0                               NaN
51715        Yes  4.3 /5    236                      080 49652769
51716         No  3.4 /5     13                    +91 8071117272

                         location            rest_type  \
0                    Banashankari        Casual Dining
1                    Banashankari        Casual Dining
2                    Banashankari  Cafe, Casual Dining
3                    Banashankari          Quick Bites
4                    Basavanagudi        Casual Dining
...                           ...                  ...
51712                  Whitefield                  Bar
51713                  Whitefield                  Bar
51714                  Whitefield                  Bar
51715  ITPL Main Road, Whitefield                  Bar
51716  ITPL Main Road, Whitefield   Bar, Casual Dining

                                              dish_liked  \
0      Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1      Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2      Churros, Cannelloni, Minestrone Soup, Hot Choc...
3                                            Masala Dosa
4                                    Panipuri, Gol Gappe
...                                                  ...
51712                                                NaN
51713                                                NaN
51714                                                NaN
51715                       Cocktails, Pizza, Buttermilk
51716                                                NaN

                                     cuisines approx_cost(for two people)  \
0              North Indian, Mughlai, Chinese                         800
1                 Chinese, North Indian, Thai                         800
2                      Cafe, Mexican, Italian                         800
3                  South Indian, North Indian                         300
4                    North Indian, Rajasthani                         600
...                                       ...                         ...
51712                             Continental                       1,500
51713                             Finger Food                         600
51714                             Finger Food                       2,000
51715                             Finger Food                       2,500
51716  Finger Food, North Indian, Continental                       1,500

                                            reviews_list menu_item  \
0      [('Rated 4.0', 'RATED\n  A beautiful place to ...        []
1      [('Rated 4.0', 'RATED\n  Had been here for din...        []
2      [('Rated 3.0', "RATED\n  Ambience is not that ...        []
3      [('Rated 4.0', "RATED\n  Great food and proper...        []
4      [('Rated 4.0', 'RATED\n  Very good restaurant ...        []
...                                                  ...       ...
51712  [('Rated 5.0', "RATED\n  Food and service are ...        []
51713                                                 []        []
51714                                                 []        []
51715  [('Rated 4.0', 'RATED\n  Nice and friendly pla...        []
51716  [('Rated 5.0', 'RATED\n  Great ambience , look...        []

      listed_in(type) listed_in(city)
0              Buffet    Banashankari
1              Buffet    Banashankari
2              Buffet    Banashankari
3              Buffet    Banashankari
4              Buffet    Banashankari
...               ...             ...
51712   Pubs and bars      Whitefield
51713   Pubs and bars      Whitefield
51714   Pubs and bars      Whitefield
51715   Pubs and bars      Whitefield
51716   Pubs and bars      Whitefield

[51717 rows x 17 columns]

## 5.

Run the cell below to view the DataFrame `yearly_class_sizes` you created earlier:

In [32]:
yearly_class_sizes

      Software Dev  Internet Systems Dev
2020            26                    32
2021            34                    22

In the cell below, write code to save this DataFrame to disk as a csv file with the name `future_superstar_developers.csv`.

In [34]:
# Your code goes here

yearly_class_sizes.to_csv("future_superstar_developers.csv")

# Check your answer by looking in the folder this notebook is in