Reference **[Pandas Home Page](https://www.kaggle.com/learn/pandas)**

---

# Introduction

Run the following cell to load your data and some utility functions.

In [1]:
import pandas as pd
import numpy as np

restaurants = pd.read_csv('data/zomato.csv')

restaurants

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,27,080 40301477,Whitefield,Bar,NaN,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars,Whitefield
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,No,NaN,0,+91 8197675843,Whitefield,Bar,NaN,Finger Food,600,[],[],Pubs and bars,Whitefield
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,0,NaN,Whitefield,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars,Whitefield
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,236,080 49652769,"ITPL Main Road, Whitefield",Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars,Whitefield
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,No,3.4 /5,13,+91 8071117272,"ITPL Main Road, Whitefield","Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars,Whitefield

# Exercises

## 1. 
What is the data type of the `rate` column in the dataset?

In [3]:
# Your code here
dtype = restaurants['rate'].dtype
# Check your answer
dtype

dtype('O')

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [3]:
restaurants.columns
rate_strings = restaurants['rate'].astype(str)

# Check your answer
rate_strings

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51712    3.6 /5
51713       nan
51714       nan
51715    4.3 /5
51716    3.4 /5
Name: rate, Length: 51717, dtype: object

What values occur in the rate_strings series?

In [4]:
rate_strings.unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', 'nan', '2.6/5', '3.8 /5',
       '3.4/5', '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5',
       '2.3/5', '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5',
       '4.0 /5', '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5',
       '2.8 /5', '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5',
       '4.5 /5', '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5',
       '4.6 /5', '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5',
       '2.4 /5', '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

Only use pd.eval(rate) on rate string values that contain the divisor symbol "/".
<br>Else set the rate to np.nan

In [5]:
# for s in rate_strings:
#     if "/" in s:
#         pd.eval(s)
#         print(s)
    
#     else:
#         s = np.nan
#         print(rate)


rate_strings_with_null=rate_strings.apply(lambda rate: pd.eval(rate) if "/" in rate else np.nan)
rate_strings_with_null.unique()

array([0.82, 0.76, 0.74, 0.72, 0.92, 0.8 , 0.84, 0.78, 0.62, 0.6 , 0.64,
       0.66, 0.56, 0.88, 0.86,  nan, 0.58, 0.7 , 0.52, 0.68, 0.9 , 0.5 ,
       0.54, 0.94, 0.48, 0.44, 0.46, 0.96, 0.98, 0.42, 0.4 , 0.36])

## 3.
Now the the rate column can be null. How many reviews in the dataset are missing a rating?

In [6]:
n_missing_rate = rate_strings_with_null.isnull().sum()

# Check your answer
n_missing_rate

10052

## 4.
What is the most common rating? Sort in descending order.  Your output should look something like this:
<br>0.78   -  3972
<br>0.76   -    3873
<br>0.74   -    3821
<br>0.72   -    3316
<br>0.80   -    3183

In [7]:
ratings_count = rate_strings_with_null.value_counts().sort_values(ascending=False)

# Check your answer
ratings_count

0.78    3972
0.76    3873
0.74    3821
0.72    3316
0.80    3183
0.82    2948
0.70    2784
0.68    2476
0.66    2310
0.84    2184
0.64    1873
0.86    1693
0.62    1561
0.88    1147
0.60    1023
0.58     802
0.90     656
0.56     600
0.54     307
0.92     300
0.52     260
0.94     167
0.50     101
0.48      70
0.96      66
0.98      55
0.46      51
0.44      26
0.42      24
0.40      11
0.36       5
Name: rate, dtype: int64