In [7]:
hello = "HelloWorld"

count = 0

print("First run")
print(hello)
print(count)


count = hello
print("\n\nSecond Run")
print(hello)
print(count)

int

In [8]:
count = 99

type(count)

int

In [15]:
print(8 / 3)
print(6 / 2)

2.6666666666666665
3.0

In [16]:
print(8 // 3)
print( // 2)

2
3

In [14]:
print(2^2)
print(3^4)

0
7

In [13]:
print(2**2)
print(3**4)

4
81

In [17]:
print(min(3, 5, 7))
print(max(3, 7, 9))

3
9

In [18]:
print(abs(54))
print(abs(-87))

54
87

In [19]:
print(float(154))
print(int(5.65))
# They can even be called on strings!
print(int('989') + 1)

154.0
5
990

In [1]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

In [3]:
def least_difference(a, b, c):
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)


print(
    least_difference(1, 10, 100),
    least_difference(1, 10, 10),
    least_difference(5, 6, 7), 
    # Python allows trailing commas in argument lists!
)

9 0 1

In [4]:
def least_difference(a, b, c):
    """Return the smallest difference between any two numbers
    among a, b and c.
    
    >>> least_difference(1, 5, -5)
    4
    """
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return min(diff1, diff2, diff3)

help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c.

    >>> least_difference(1, 5, -5)
    4

In [6]:
def say_hello(who="World!"):
    print("Hello ", who)

say_hello()
say_hello("Ronaldo")
say_hello(who="Messi")

Hello  World!
Hello  Ronaldo
Hello  Messi

In [7]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
print(1, 2, 3, sep=' < ')
print(1, 2, 3)

1 < 2 < 3
1 2 3

In [9]:
def mult_by_five(x):
    return 5 * x

def call(fn, arg):
    """Call fn on arg"""
    return fn(arg)

def squared_call(fn, arg):
    """Call fn on the result of calling fn on arg"""
    return fn(fn(arg))

print(
    call(mult_by_five, 1),
    squared_call(mult_by_five, 1), 
    sep='\n', 
    # '\n' is the newline character - it starts a new line
)

5
25

In [11]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [10]:
def mod_5(x):
    """Return the remainder of x after dividing by 5"""
    return x % 5

print(
    'Which number is biggest?',
    max(100, 51, 14),
    'Which number is the biggest modulo 5?',
    max(100, 51, 14, key=mod_5),
    sep='\n',
)

Which number is biggest?
100
Which number is the biggest modulo 5?
14

In [12]:
print(5==5)
print(5==5.0)
print("5"==5)
print("5"==5.0)

True
True
False
False

In [13]:
def is_odd(n):
    return (n % 2) == 1

print("Is 100 odd?", is_odd(100))
print("Is -1 odd?", is_odd(-1))

Is 100 odd? False
Is -1 odd? True

In [15]:
def can_run_for_president(age, is_natural_born_citizen):
    """Can someone of the given age and citizenship 
    status run for president in the US?"""
    # The US Constitution says you must be a natural 
    #born citizen *and* at least 35 years old
    return is_natural_born_citizen and (age >= 35)

print(can_run_for_president(19, True))
print(can_run_for_president(55, False))
print(can_run_for_president(55, True))

False
False
True

In [16]:
# all numbers are treated as true, except 0
print(bool(1))
print(bool(0))
# all strings are treated as true, except the empty string 
print(bool("asf"))
print(bool(""))

True
False
True
False

In [17]:
def inspect(x):
    if x == 0:
        print(x, "is zero")
    elif x > 0:
        print(x, "is positive")
    elif x < 0:
        print(x, "is negative")
    else:
        print(x, "Something is wrong!")

inspect(0)
inspect(-15)

0 is zero
-15 is negative

In [18]:
def func(x):
    if x > 0:
        print("Only printed when x is positive; x =", x)
        print("Also only printed when x is positive; x =", x)
    print("Always printed, regardless of x's value; x =", x)

func(1)
func(0)

Only printed when x is positive; x = 1
Also only printed when x is positive; x = 1
Always printed, regardless of x's value; x = 1
Always printed, regardless of x's value; x = 0

In [21]:
primes = [2, 3, 5, 7]
planets = ['Mercury', 'Venus', 'Earth', 
           'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
list_of_lists1 = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], 
]
#Alternatively write this on one line - can get hard to read) 
list_of_lists2 = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

mixed_data_types = [32, 'raindrops on roses', help]

print(primes)
print (planets)
print (list_of_lists1)
print (list_of_lists2)
print (mixed_data_types)

[2, 3, 5, 7]
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]
[32, 'raindrops on roses', Type help() for interactive help, or help(object) for help about object.]

In [24]:
planets = ['Mercury', 'Venus', 'Earth', 
           'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

print("index 0",planets[0])
print("index 5",planets[5])
print("index -1",planets[-1])
print("index -3",planets[-3])

index 0 Mercury
index 5 Saturn
index -1 Neptune
index -3 Saturn

In [28]:
planets = ['Mercury', 'Venus', 'Earth', 
           'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

print("Planets 1->3", planets[0:3])
print("Planets _->3", planets[:3])
print("Planets 3->",planets[3:])
print("Planets less first and last",planets[1:-1])
print("Planets last 3",planets[-3:] )

Planets 1->3 ['Mercury', 'Venus', 'Earth']
Planets _->3 ['Mercury', 'Venus', 'Earth']
Planets 3-> ['Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
Planets less first and last ['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']
Planets last 3 ['Saturn', 'Uranus', 'Neptune']

In [32]:
planets = ['Mercury', 'Venus', 'Earth', 
           'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[3] = 'Cork'
print(planets)
planets[:3] = ['Mur', 'Vee', 2020]
print(planets)

['Mercury', 'Venus', 'Earth', 'Cork', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mur', 'Vee', 2020, 'Cork', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [43]:
planets = ['Mercury', 'Venus', 'Earth', 
           'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(len(planets))
print(planets)
print(sorted(planets))
print(planets)
primes = [2, 3, 5, 7]
print(sum(primes))
print(max(primes))
print(min(primes))

8
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
17
7
2

In [45]:
planets.append('Pluto')
print(planets)
print(planets.pop())
print(planets)
print(planets.index('Earth'))
print("Earth" in planets)
print("Limerick" in planets)
help(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']
Pluto
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
2
True
False
Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [50]:
t1 = (1, 2, 3)
t2 = 1, 2, 3 # equivalent to above

print(t1)
print(t2)

(1, 2, 3)
(1, 2, 3)

In [48]:
t1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [47]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

In [51]:
planets = ['Mercury', 'Venus', 'Earth', 
           'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [53]:
s = 'spacesHips rEach unbeLievabLe Orbits'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

In [54]:
for i in range(5):
    print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

In [55]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [56]:
squares = [n**2 for n in range(10)]
print("squares : ",squares)

short_planets = [planet for planet in planets if len(planet) < 6]
print("short_planets : ",short_planets)

loud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]
print("loud_short_planets : ",loud_short_planets)

[32 for planet in planets]

squares :  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
short_planets :  ['Venus', 'Earth', 'Mars']
loud_short_planets :  ['VENUS!', 'EARTH!', 'MARS!']

[32, 32, 32, 32, 32, 32, 32, 32]

In [57]:
txns = [1.09, 23.56, 57.84, 4.56, 6.78]
TAX_RATE = .08
def get_price_with_tax(txn):
    return txn * (1 + TAX_RATE)
final_prices = [get_price_with_tax(i) for i in txns]
final_prices

[1.1772000000000002, 25.4448, 62.467200000000005, 4.9248, 7.322400000000001]

In [58]:
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [59]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [60]:
planet = 'Pluto'
planet[0]

'P'

In [61]:
planet[-3:]

'uto'

In [62]:
len(planet)

5

In [63]:
#list comprehension
[char+'! ' for char in planet]

['P! ', 'l! ', 'u! ', 't! ', 'o! ']

In [64]:
claim = "Pluto is a planet!"
claim.upper()

'PLUTO IS A PLANET!'

In [65]:
claim.lower()

'pluto is a planet!'

In [66]:
claim.index('plan')

11

In [67]:
claim.startswith(planet)

True

In [68]:
claim.endswith('dwarf planet')

False

In [69]:
claim = "Pluto is a planet!"
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [72]:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
print(year)
print(day)

1956
31

In [73]:
'/'.join([month, day, year])

'01/31/1956'

In [74]:
' 👏 '.join([word.upper() for word in words])

'PLUTO 👏 IS 👏 A 👏 PLANET!'

In [80]:
planet = "Pluto"
planet + ', we miss you.'

'Pluto, we miss you.'

In [77]:
position = 9
planet + ", you'll always be the " + position + "th planet to me."

TypeError: must be str, not int

In [78]:
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

In [79]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [81]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390
#         2 decimal points   3 decimal points, format as percent     separate with commas
"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [82]:
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

In [85]:
letters = {'one':"a", 'two':"b", 'three':"c"}
letters['one']

'a'

In [87]:
letters['eleven'] = "k"
letters

{'one': 'a', 'two': 'b', 'three': 'c', 'eleven': 'k'}

In [88]:
letters['one'] = 100
letters

{'one': 100, 'two': 'b', 'three': 'c', 'eleven': 'k'}

In [90]:
planets = ['Mercury', 'Venus', 'Earth', 
           'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet: planet[0] for planet in planets}
planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [91]:
'Saturn' in planet_to_initial

True

In [92]:
'Limerick' in planet_to_initial

False

In [93]:
for k in letters:
    print("{} = {}".format(k, letters[k]))

one = 100
two = b
three = c
eleven = k

In [94]:
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [95]:
' '.join(sorted(planet_to_initial.values()))

'E J M M N S U V'

In [96]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"