**[Data Cleaning Home Page](https://www.kaggle.com/alexisbcook/handling-missing-values)**

---

# Introduction

The first step in most data analytics projects is reading the data file. And checking for missing data values
Run the code cell below to load libraries and data you will need

In [2]:
import pandas as pd
import numpy as np

restaurants = pd.read_csv('data/zomato.csv')
restaurants.head(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [3]:
restaurants.shape

(51717, 17)

In [4]:
restaurants.dtypes

url                            object
address                        object
name                           object
online_order                   object
book_table                     object
rate                           object
votes                           int64
phone                          object
location                       object
rest_type                      object
dish_liked                     object
cuisines                       object
approx_cost(for two people)    object
reviews_list                   object
menu_item                      object
listed_in(type)                object
listed_in(city)                object
dtype: object

# Exercises

## 1.
Yes, the data loaded correctly.

How many missing data points do we have?
<br>Check how many we have in each column.

In [6]:
# get the number of missing data points per column
missing_values_count = restaurants.isnull().sum()


missing_values_count

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

Some of these columns may be important for analysis some may be irrelevant.
<p><B>Rate : </B> is an interesting column. It is probable that some analysis will be looking for trends there in high and low rating restaurants.</p>
<p><B>Phone : </B> has some empty values. While this field is important for zomatos end users (who will want to contact restaurant for bookings etc.) there is little analysis we can do on phone numbers. For most analysis cases we can drop this column</p>.

<p>Have a look at the other columns and figure out which are important. Think about different questions that may be asked of the data and whether guessing or dropping missing values may be important.

We will continue with some analysis with the valid data we have.
<br>Remove all rows with empty values

### ratings and reviews
There are missing values in the <i>rate</i> column but none in the <i>reviews_list</i><br>
It is probably worth exploring what is in the <i>reviews_list</i> !

In [11]:
restaurants.reviews_list

0        [('Rated 4.0', 'RATED\n  A beautiful place to ...
1        [('Rated 4.0', 'RATED\n  Had been here for din...
2        [('Rated 3.0', "RATED\n  Ambience is not that ...
3        [('Rated 4.0', "RATED\n  Great food and proper...
4        [('Rated 4.0', 'RATED\n  Very good restaurant ...
                               ...
51712    [('Rated 5.0', "RATED\n  Food and service are ...
51713                                                   []
51714                                                   []
51715    [('Rated 4.0', 'RATED\n  Nice and friendly pla...
51716    [('Rated 5.0', 'RATED\n  Great ambience , look...
Name: reviews_list, Length: 51717, dtype: object

In [6]:
type(restaurants.reviews_list[0])

str

Using <i>pd.to_numeric</i> for any reviews list take the first review score and store it as a float in a new column called <i>first_review_rate</i>

In [19]:
restaurants.first_review_rate = pd.to_numeric(restaurants.reviews_list.str.slice(9, 12))

restaurants.first_review_rate

0        4.0
1        4.0
2        3.0
3        4.0
4        4.0
        ...
51712    5.0
51713    NaN
51714    NaN
51715    4.0
51716    5.0
Name: reviews_list, Length: 51717, dtype: float64

For any restaurant that does not have a <i>rate</i> insert the value from <i>first_review_rate</i>

In [20]:
restaurants.rate.fillna(restaurants.first_review_rate, inplace=True)

How many new rate values did you add?

In [24]:
missing_values_count2 = restaurants.isnull().sum()


print(missing_values_count2)
missing_values_count - missing_values_count2

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            5274
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

url                               0
address                           0
name                              0
online_order                      0
book_table                        0
rate                           2501
votes                             0
phone                             0
location                          0
rest_type                         0
dish_liked                        0
cuisines                          0
approx_cost(for two people)       0
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [25]:
(missing_values_count - missing_values_count2).rate

2501

Are there any other ways we can replace missing <i>rate</i> ot data values in out dataframe?