Reference **[Pandas Home Page](https://www.kaggle.com/learn/pandas)**

---

# Introduction

Run the following cell to load your data and some utility functions.

In [1]:
import pandas as pd
import numpy as np

restaurants = pd.read_csv('data/zomato.csv')

# Exercises

## 1. 
What is the data type of the `rate` column in the dataset?

In [3]:
# Your code here
dtype = type(restaurants.rate[0])
# Check your answer
dtype

str

## 2. 
Create a Series from entries in the `points` column, but convert the entries to strings. Hint: strings are `str` in native Python.

In [27]:
rate_strings = restaurants.rate.apply(lambda x: str(x))

# Check your answer
rate_strings

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51712    3.6 /5
51713       nan
51714       nan
51715    4.3 /5
51716    3.4 /5
Name: rate, Length: 51717, dtype: object

What values occur in the rate_strings series?

In [19]:
rate_strings.unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', 'nan', '2.6/5', '3.8 /5',
       '3.4/5', '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5',
       '2.3/5', '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5',
       '4.0 /5', '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5',
       '2.8 /5', '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5',
       '4.5 /5', '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5',
       '4.6 /5', '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5',
       '2.4 /5', '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

Only use pd.eval(rate) on rate string values that contain the divisor symbol "/".
<br>Else set the rate to np.nan

In [32]:
bingo = rate_strings.apply(lambda r: pd.eval(r) if "/" in r else np.nan)
bingo

0        0.82
1        0.82
2        0.76
3        0.74
4        0.76
         ...
51712    0.72
51713     NaN
51714     NaN
51715    0.86
51716    0.68
Name: rate, Length: 51717, dtype: float64

## 3.
Now the the rate column can be null. How many reviews in the dataset are missing a rating?

In [34]:
n_missing_rate = bingo.isnull().sum()

# Check your answer
n_missing_rate

10052

## 4.
What is the most common rating? Sort in descending order.  Your output should look something like this:
<br>0.78   -  3972
<br>0.76   -    3873
<br>0.74   -    3821
<br>0.72   -    3316
<br>0.80   -    3183

In [39]:
ratings_count = bingo.value_counts()

# Check your answer
ratings_count

0.78    3972
0.76    3873
0.74    3821
0.72    3316
0.80    3183
0.82    2948
0.70    2784
0.68    2476
0.66    2310
0.84    2184
0.64    1873
0.86    1693
0.62    1561
0.88    1147
0.60    1023
0.58     802
0.90     656
0.56     600
0.54     307
0.92     300
0.52     260
0.94     167
0.50     101
0.48      70
0.96      66
0.98      55
0.46      51
0.44      26
0.42      24
0.40      11
0.36       5
Name: rate, dtype: int64